
.button {text-align:center;font-size:.91em}
.button span {display:inline-block;background:url(images/button-side.gif) no-repeat left top;padding-left:1px}
.button span span {background:url(images/button-side.gif) no-repeat right top;padding-right:1px;padding-left:0}
.button span span a {display:inline-block;background:url(images/button-bg.gif) left top repeat-x;padding:0 0 3px 0;color:#d5c6bb;width:152px;text-decoration:none;text-transform:uppercase;font-weight:bold}
.button span span a:hover {text-decoration:underline}
.button1 {text-align:center;font-size:.91em}
.button1 span {display:inline-block;background:url(images/button-side.gif) no-repeat left top;padding-left:1px}
.button1 span span {background:url(images/button-side.gif) no-repeat right top;padding-right:1px;padding-left:0}
.button1 span span a {display:inline-block;background:url(images/button-bg.gif) left top repeat-x;padding:0 20px 3px 20px;color:#d5c6bb;
text-decoration:none;text-transform:uppercase;font-weight:bold}
.button1 span span a:hover {text-decoration:underline}

.softbutton,a.softbutton:link,.softbutton:visited,.showbtn,.showbtn:link,.showbtn:visited
{
display:block;
color:#FFFFFF;
background-color:#FF0607;
font-weight:bold;
font-size:12px;
width:120px;
text-align:center;
padding:0;
padding-top:3px;
padding-bottom:4px;
border:2px outset #ffffff;
text-decoration:none;
margin-left:1px;
}

.softbutton:hover,.softbutton:active,.showbtn:hover,.showbtn:active
{
background-color:#FC0347;
border:2px inset #ffffff;
}

.softbuttonbig,a.softbuttonbig:link,.softbuttonbig:visited,.showbtn,.showbtn:link,.showbtn:visited
{
display:block;
color:#FFFFFF;
background-color:#FF0607;
font-weight:bold;
font-size:18px;
text-align:center;
padding:0;
padding-top:3px;
padding-bottom:4px;
border:2px outset #ffffff;
text-decoration:none;
margin-left:1px;
}

.softbuttonbig:hover,.softbuttonbig:active,.showbtn:hover,.showbtn:active
{
background-color:#FF0607;
border:2px inset #ffffff;
}

/* boxes */
.box {background:#1d110b;width:100%}